@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

div.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;

}

menu.menu {
    display: flex;
    gap: 50px;
}

li.menu_items {
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 16px;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

li.menu_items.active {
    font-family: "Cera Pro Bold", sans-serif;
    border-bottom: 3px solid #46A358;
}

button.menu_btn {
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: 'Cera Pro Medium';
}

.hero .hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero.hero_content .hero_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 68px 40px 85px;
}

.hero_left h4 {
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.hero_left h1 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;

}

.hero_left span {
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;
}

.hero_left p {
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}

.hero_left .hero_btn {
    margin-top: 44px;
    border-radius: 6px;
    background: #46A358;
    width: 140px;
    height: 40px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.hero_content .hero_right {
    position: relative;
    display: inline-block;
    align-self: flex-end;
    line-height: 0;
}

.hero_right .first_photo {
    width: 518px;
}

.hero_right .second_photo {
    position: absolute;
    width: 135px;
    bottom: 30px;
    left: 60px;
    z-index: 1;
}

main.main {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

div.HomeWork5 {
    display: flex;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
}

div.filters_categorias {
    display: flex;
    flex-direction: column;
    margin: 14px 0 0 18px;
    padding-bottom: 377px;
    background-color: #FBFBFB;
}

.filters_categorias h4 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.filters_categorias ul {
    margin: 7px 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.filters_categorias .categories_items {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 40px;
}

.filters_categorias .categories_items.active {
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    line-height: 40px;
}

div .Super_Sale img {
    width: 310px;
}

div .flowers_catalog {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.flowers_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flowers_menu ul {
    display: flex;
    gap: 40px;
    border-bottom: 2px solid transparent;
}

.flowers_menu ul .bar_items {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 7px;
}

.flowers_menu ul .bar_items.active {
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}

div .right {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.right p {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
}

.right button {
    background: none;
    display: flex;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    gap: 5px;
}

div .flowers_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 70px 33px;
}

.flowers_cards .flowers_card {
    display: flex;
    flex-direction: column;
}

.flowers_card img {
    height: 250px;
    margin: 25px 4px;
    background-color: #FBFBFB;
}

.flowers_card h4 {
    margin-top: 12px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    line-height: 16px;
}

.flowers_card span {
    margin-top: 6px;
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.flowers_catalog .menu_slide {
    padding-top: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    gap: 10px;
}

.menu_slide .slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_slide .slide button {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    line-height: 16px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.menu_slide .slide.active button {
    border-radius: 4px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}
