@import "../vendor/noUiSlider/nouislider.css";


@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

div.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);

}

menu.menu {
    display: flex;
    gap: 50px;
}

li.menu_items {
    position: relative;
    cursor: pointer;
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 16px;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

li.menu_items:hover {
    font-family: "Cera Pro Bold", sans-serif;
    border-bottom: 3px solid #46A358;
}

.menu_items .dropdown {
    position: absolute;
    top: 120%;
    left: -50px;
    background-color: #EDF6EE;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    white-space: nowrap;
    line-height: normal;
    z-index: 2;

}

.dropdown li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding: 10px 15px;
}

.dropdown li .light {
    display: none;
}

.dropdown li .black {
    display: block;
}

.dropdown li:hover {
    background-color: #1A712A;
    color: #FFF;
}

.dropdown li:hover .black {
    display: none;
}

.dropdown li:hover .light {
    display: block;
}

.dropdown li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: -1;
}

li.menu_items:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

.dropdown .sublist {
    position: absolute;
    z-index: 5;
    padding-left: 10px;
    left: 98%;
    top: -300%;
    opacity: 0;
    visibility: hidden;
}

.dropdown .sublist li {
    background-color: #EDF6EE;
    display: flex;
    align-items: center;
}

.dropdown .sublist li:hover {
    background-color: #1A712A;
}

.dropdown .sublist li button {
    background: none;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    line-height: normal;
    cursor: pointer;
}

.dropdown li:hover>.sublist {
    opacity: 1;
    visibility: visible;
}

.dropdown .sublist li:hover button {
    color: #FFF;
}
.list_btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.list_btn .search_btn{
    background: none;
    cursor: pointer;
}
.list_btn .shop_btn{
    background: none;
    cursor: pointer;
}
.list_btn .menu_btn {
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: 'Cera Pro Medium';
    cursor: pointer;
}
.menu_btn a{
    background: #46A358;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Cera Pro Medium';
}
.menu_btn a:visited{
    color: #FFFFFF;
}

.hero .hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.hero.hero_content .hero_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 68px 40px 85px;
}

.hero_left h4 {
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.hero_left h1 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;

}

.hero_left span {
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;
}

.hero_left p {
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}

.hero_left .hero_btn {
    margin-top: 44px;
    border-radius: 6px;
    background: #46A358;
    width: 140px;
    height: 40px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.hero_content .hero_right {
    position: relative;
    display: inline-block;
    align-self: flex-end;
    line-height: 0;
}

.hero_right .first_photo {
    width: 518px;
}

.hero_right .second_photo {
    position: absolute;
    width: 135px;
    bottom: 30px;
    left: 60px;
    z-index: 1;
}

main.main {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

div.HomeWork5 {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
}

div.filters_categorias {
    display: flex;
    flex-direction: column;
    padding: 14px 18px 20px 18px;
    background-color: #FBFBFB;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 40px;
}

.filters_categorias h4 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.filters_categorias ul {
    padding: 7px 12px 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.categories_items .category_lable {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    cursor: pointer;
    color: #3D3D3D;
}

.category_input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
}

.category_input:checked~.category_text,
.category_input:checked~.category_count {
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 15px;
    line-height: 40px;

}

.sidebar_filter h3 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.sidebar_filter .price_slider {
    margin: 20px 60px 15px 10px;
}

.sidebar_filter p {
    margin: 0 10px 0 10px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
}

.sidebar_filter .filter_btn {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 20px 10px 50px 10px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    line-height: 20px;
    padding: 8px 25px;
    cursor: pointer;
}

.size .category_lable {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    cursor: pointer;
    color: #3D3D3D;
}


div .Super_Sale img {
    width: 310px;
}

div .flowers_catalog {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.flowers_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flowers_menu ul {
    display: flex;
    gap: 40px;
    border-bottom: 2px solid transparent;
}

.flowers_menu ul .bar_items {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.flowers_menu ul .bar_items:hover{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}

div .right {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.right p {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
}

.right button {
    background: none;
    display: flex;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    gap: 5px;
}

div .flowers_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 70px 33px;
}

.flowers_cards .flowers_card {
    display: flex;
    flex-direction: column;
}

.flowers_card .img_card {
    padding: 25px 4px;
    border-top: 1px solid transparent;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    position: relative;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.flowers_card .img_card img {
    height: 250px;

}

.flowers_card .sale {
    padding: 6px 8px;
    background-color: #46A358;
    position: absolute;
    left: 0;
    top: 15px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    line-height: 16px;
}

.img_card .hover_action {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

}

.hover_action button {
    border-radius: 4px;
    background: none;
    padding: 15px 15px;
    display: flex;
    gap: 25px;
}

.hover_action button svg path {
    fill: #3D3D3D;
}

.hover_action button:hover svg path {
    fill: #46A358;
}

.img_card:hover .hover_action {
    opacity: 1;
    visibility: visible;
}

.img_card:hover {
    border-top: 1px solid #46A358;
}

.flowers_card h4 {
    margin-top: 12px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    line-height: 16px;
}

.flowers_card span {
    margin-top: 6px;
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.flowers_card .sale_prise {
    display: flex;
    gap: 15px;
}

.flowers_card .sale_prise .prise_to {
    text-decoration: line-through;
    color: #A5A5A5;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    line-height: 16px;
}

.flowers_catalog .menu_slide {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    gap: 10px;
}

.menu_slide .slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_slide .slide button {
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    line-height: 16px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.menu_slide .slide button:hover {
    border-radius: 4px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.menu_slide .slide_btn button {
    padding: 9px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    line-height: 16px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}
.menu_slide .slide_btn button:hover {
    border-radius: 4px;
    background: #46A358;
}

div .HomeWork6 {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.HomeWork6 .about_flowers {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.HomeWork6 .about_flowers .about_flower1 {
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    margin-top: 70px;
    position: relative;

}

.about_flowers .about_flower1 img {
    width: 287px;
    margin-top: -50px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.about_flower1 .about_text1 {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    flex: 1;
}

.about_flowers .about_text1 h3 {
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.about_flowers .about_text1 p {
    margin-top: 9px;
    color: #727272;
    text-align: right;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}

.about_flowers .about_text1 button {
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 11px 28px;
    gap: 2px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.HomeWork6 .about_flowers .about_flower2 {
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    margin-top: 70px;
    position: relative;

}

.about_flower2 img {
    width: 287px;
    margin-top: -50px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.about_flower2 .about_text2 {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    flex: 1;
}

.about_flower2 .about_text2 h3 {
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.about_flower2 .about_text2 p {
    margin-top: 9px;
    color: #727272;
    text-align: right;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}

.about_flower2 .about_text2 button {
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 11px 28px;
    gap: 2px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.HomeWork6 .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.blog h2 {
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold";
    font-size: 30px;
    line-height: 16px;
}

.blog p {
    margin-top: 15px;
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}

.blog .blog_post {
    margin-top: 35px;
    display: flex;
    gap: 30px;
}

.blog_post .blog_post1 {
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blog_post1 img {
    width: 268px;
}

.blog_post1 h4 {
    margin-top: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    line-height: 26px;
}

.blog_post1 span {
    margin-top: 9px;
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
}

.blog_post1 p {
    margin-top: 4px;
    text-align: left;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.blog_post1 button {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    background: none;
    gap: 3px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.blog_post .blog_post2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FBFBFB;
}

.blog_post2 img {
    width: 268px;
}

.blog_post2 h4 {
    margin-top: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    line-height: 26px;
}

.blog_post2 span {
    margin-top: 9px;
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
}

.blog_post2 p {
    margin-top: 4px;
    text-align: left;

}

.blog_post2 button {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    background: none;
    gap: 3px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.blog_post .blog_post3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FBFBFB;
}

.blog_post3 img {
    width: 268px;
}

.blog_post3 h4 {
    margin-top: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    line-height: 26px;
}

.blog_post3 span {
    margin-top: 9px;
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
}

.blog_post3 p {
    margin-top: 4px;
    text-align: left;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.blog_post3 button {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    background: none;
    gap: 3px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.blog_post .blog_post4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FBFBFB;
}

.blog_post4 img {
    width: 268px;
}

.blog_post4 h4 {
    margin-top: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    line-height: 26px;
}

.blog_post4 span {
    margin-top: 9px;
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
}

.blog_post4 p {
    margin-top: 4px;
    text-align: left;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.blog_post4 button {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    background: none;
    gap: 3px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.HomeWork9 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.HomeWork9 .foot_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFBFB;
}

.foot_up .node {
    display: flex;
    padding: 0 30px 0 25px;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(70, 163, 88, 0.10);
}

.node h3 {
    margin-top: 15px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 17px;
    line-height: 16px;
}

.node p {
    margin-top: 10px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.foot_up .node_ {
    border: none;
    display: flex;
    padding: 0 60px 0 25px;
    flex-direction: column;
    justify-content: center;
}

.node_ h3 {
    margin-top: 15px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 17px;
    line-height: 16px;
}

.node_ p {
    margin-top: 10px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.foot_up .join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.join h2 {
    margin-top: 35px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.join .email_input {
    margin-top: 25px;
    display: flex;
}

.email_input input {
    padding: 12px 86px 12px 10px;
    color: #ACACAC;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 16px;
}

.email_input button {
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 0 6px 6px 0;
    background-color: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.join p {
    margin-top: 15px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 13px;
    line-height: 22px;
}

.foot_midle {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}

.foot_midle .geo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.geo p {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.foot_midle .email {
    display: flex;
    align-items: center;
    gap: 9px;
}

.email p {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.foot_midle .number {
    display: flex;
    align-items: center;
    gap: 9px;
}

.number p {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.foot_end {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: #FBFBFB;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.foot_end .list {
    margin: 30px 0 30px;
}

.foot_end .list h3 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.foot_end .list ul {
    margin-top: 10px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 30px;
}

.list ul li {
    margin-top: 9px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social .media {
    margin-top: 30px;
}

.media h2 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.media .icon_svg {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.social .accept {
    margin-top: 30px;
}

.accept h2 {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}

.accept img {
    margin-top: 15px;
    width: 224px;
}

.HomeWork9 .end {
    display: flex;
    justify-content: center;
    align-items: center;

}

.end p {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 30px;
}

.noUi-connect {
    background: #46A358 !important;
}


.noUi-target {
    background: rgba(70, 163, 88, 0.20) !important;
    border: none !important;
    box-shadow: none !important;
    height: 4px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}


.noUi-handle {
    width: 18px !important;
    height: 18px !important;
    right: -9px !important;
    top: -8px !important;
    border-radius: 50% !important;
    background: #46A358 !important;
    border: 3px solid white !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    cursor: pointer !important;
}


.noUi-handle::before,
.noUi-handle::after {
    display: none !important;
}


.price-label {
    font-size: 14px;
    color: #3D3D3D;
}

.price-value {
    color: #46A358;
    font-weight: bold;
}