@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
         url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
         url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
         url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}
div.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
header.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;

}
menu.menu{
    display: flex;
    gap: 50px;
}
li.menu-items{
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 16px;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}
li.menu-items.active{
    font-family: "Cera Pro Bold", sans-serif;
    border-bottom: 3px solid #46A358;
}
button.menu-btn{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: 'Cera Pro Medium';
}
main.main{
    display: flex;
    flex-direction: column;
}
div.HomeWork4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.left-main{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 68px 40px 85px;
}
.left-main h4{
    color: #3D3D3D;
    font-family: "Cera Pro Medium" ;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.left-main h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;

}
.left-main span{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;
}
.left-main p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}
button.main_btn{
    margin-top: 44px;
    border-radius: 6px;
    background: #46A358;
    width: 140px;
    height: 40px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

div.right-main {
    position: relative; 
    display: inline-block; 
    align-self: flex-end;
    line-height: 0;
}

.first_photo {
    display: block;
    width: 518px;
    height: auto;
}

.second_photo {
    position: absolute; 
    width: 135px;          
    bottom: 30px;      
    left: 60px;         
    z-index: 10;        
}
.HomeWork5{
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.main-categoties{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.categoties_list{
    width: 310px;
    height: 774px;
}
.categories h4{
    margin: 14px 0 0 18px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold ";
    font-size: 18px;
    line-height: 16px; 
}
.categories-items{
    margin-left: 30px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 40px;
}
.categories-items.active{
    margin-top: 7px;
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    line-height: 40px;
}
.Super_Sale{
    width: auto;
    height: 470px;
}
div.nav_bar_foto{
    display: flex;
    flex-direction: column;
    flex: 1;
}
div.up_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
menu.up_left_menu{
    display: flex;
    gap: 40px;
}
li.bar_items{
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 7px; 
}
li.bar_items.active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}
div.up_right_menu{
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 7px;
}
.up_right_menu p{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
}
.up_right_menu button{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    background: none; 
} 
.up_right_menu img{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}
div.foto-content{
    margin: 62px 0 70px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px 30px;
    align-content: space-between;
}
div.foto, div.foto_4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}
.foto img{
    height: 250px;
    width: auto;
    object-fit: cover;

}
.foto h4 {
    margin-top: 31px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    line-height: 16px;
}
.foto span{
    margin-top: 6px;
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}
.foto_4 img{
    width: auto;
    height: 286px;
    object-fit: cover;
}
.foto_4 h4 {
    margin-top: 31px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    line-height: 16px;
}
.foto_4 span{
    margin-top: 6px;
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;
}