@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
         url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
         url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
         url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}
div.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
header.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;

}
menu.menu{
    display: flex;
    gap: 50px;
}
li.menu-items{
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 16px;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}
li.menu-items.active{
    font-family: "Cera Pro Bold", sans-serif;
    border-bottom: 3px solid #46A358;
}
button.menu-btn{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: 'Cera Pro Medium';
}
main.main{
    display: flex;
    flex-direction: column;
}
div.HomeWork4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.left-main{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 68px 40px 85px;
}
.left-main h4{
    color: #3D3D3D;
    font-family: "Cera Pro Medium" ;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.left-main h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;

}
.left-main span{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;
}
.left-main p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}
button.main_btn{
    margin-top: 44px;
    border-radius: 6px;
    background: #46A358;
    width: 140px;
    height: 40px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

div.right-main {
    position: relative; 
    display: inline-block; 
    align-self: flex-end;
    line-height: 0;
}

.first_photo {
    display: block;
    width: 518px;
    height: auto;
}

.second_photo {
    position: absolute; 
    width: 135px;          
    bottom: 30px;      
    left: 60px;         
    z-index: 10;        
}
.HomeWork5{
    margin-top: 46px;
    display: flex;
    gap: 50px;
}
.main-categoties{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
}
.categoties_list{
    padding: 14px 18px;
    display: flex;
    flex-direction: column;

}
.categories{
    margin-left: 12px;
    margin-bottom: 380px;
}
.categories h4{
    color: #3D3D3D;
    font-family: "Cera Pro Bold ";
    font-size: 18px;
    line-height: 16px; 
}
.categories-items{
    
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 40px;
}
.categories-items.active{
    margin-top: 7px;
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    line-height: 40px;
}
.Super_Sale{
    width: auto;
    height: 470px;
}
div.nav_bar_foto{
    display: flex;
    flex-direction: column;
}
div.up_menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
menu.up_left_menu{
    display: flex;
    gap: 40px;
}
li.bar_items{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 7px ;
    border-bottom: 2px solid transparent;

}
li.bar_items.active{
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 15px;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}
div.up_right_menu{
    display: flex;
}
.up_right_menu p{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    margin-right: 8px;
}
.up_right_menu button{

    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 16px;
    background: none;
    
}
.up_right_menu img{
    display: flex;
    width: 16px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}
div.foto_content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 62px;
    gap: 37px 70px;
    align-content: center;

}
div.row_1,div.row_2{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 41px;
}
div.row_3{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
div.row_1 h4,div.row_2 h4,div.row_3 h4{
    margin-top: 12px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    line-height: 16px;
}
div.row_1 span,div.row_2 span,div.row_3 span{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    line-height: 16px;

}
.foto{
    display: flex;
    flex-direction: column;
}
.foto img{
    width: 250px;
}
.foto_4{
    width: 224px;
    height: auto;
    display: flex;
    flex-direction: column;
}
menu.menu_slide{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 90px;
    gap: 10px;

}
.menu_slide .slide button{
    padding: 9px 14px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_slide .slide.active{
    border-radius: 4px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

