@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
         url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
         url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
         url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}
div.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
header.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;

}
menu.menu{
    display: flex;
    gap: 50px;
}
li.menu-items{
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 16px;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}
li.menu-items.active{
    font-family: "Cera Pro Bold", sans-serif;
    border-bottom: 3px solid #46A358;
}
button.menu-btn{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: 'Cera Pro Medium';
}
main.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.left-main{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 68px 40px 85px;
}
.left-main h4{
    color: #3D3D3D;
    font-family: "Cera Pro Medium" ;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.left-main h1{
    color: #3D3D3D;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;

}
.left-main span{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 70px;
    text-transform: uppercase;
}
.left-main p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
}
button.main_btn{
    margin-top: 44px;
    border-radius: 6px;
    background: #46A358;
    width: 140px;
    height: 40px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

div.right-main {
    position: relative; 
    display: inline-block; 
    align-self: flex-end;
    line-height: 0;
}

.first_photo {
    display: block;
    width: 518px;
    height: auto;
}

.second_photo {
    position: absolute; 
    width: 135px;          
    bottom: 30px;      
    left: 60px;         
    z-index: 10;        
}