body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #46A358;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forms{
    width: 500px;
    height: 656px;
    background-color: #FFF;
}
.cancel{
    display: flex;
    justify-content: end;
}
.cancel img{
    width: 18px;
    height: auto;
    padding: 13px 13px 0 0;
}
.log_reg{
    padding: 21px 172px 0;
    display: flex;
}
.login{
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.divider{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 250;
    line-height: 16px;
}
.registration{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 80% */
}
.subtitle{ 
    padding: 40px 100px 0 ;
}
.subtitle p{
    color: #3D3D3D;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0 ;
}
.auth-form{
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 ;
}
.auth-form input{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin: 16px 0 0 ;
    width: 300px;
    height: 40px;
}
.pass{
    width: 304px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin: 16px 0 0 ;

}
.pass img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px 10px 10px 0;
}
.pass input{
    border: none;
    display: flex;
    margin: 0;
    
}
.reg_btn{
    display: flex;
    padding: 41px 100px 0;
    
}
.reg_btn button{
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background: #46A358;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
}
.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px; 
    margin: 36px 0 0;     
}

.line {
    width: 97px;
    height: 2px;
    background: #EAEAEA;
}

.separator-text {
    color: #3D3D3D;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.auth-messanger{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 0 0;
}
.auth-messanger button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin: 0 0 15px;
    cursor: pointer;
}
.auth-messanger img{
    width: 20px;
    height: 20px;
}